* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#testimonials-container {
    padding: 5% 2%;  /*top-bottom, left-right*/
}

#quote {
    position:absolute;
    right: 15%;
    top: 0;
    z-index: 2;
}

.grid-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.2);
    font-size: 13px;
}

.grid-item h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.grid-item p {
    opacity: 70%;
}

.profile .name {
    opacity: 100%;
    font-size: 1rem;
}

#testimonial-1 {
    background-color: #7541c8;
    color: white;
    position: relative;
    z-index: 1;
}

#testimonial-2 {
    background-color: #48556a;
    color: white;
}

#testimonial-3 {
    background-color: white;
}

#testimonial-4 {
    background-color: #19212e;
    color: white;

}

#testimonial-5 {
    background-color: white;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    z-index: 3;
    position: relative;
}

.profile img {
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid blueviolet ;
}

@media (min-width:576px){

     #testimonials-container,
    .main-left,
    .left-top,
    .left-bottom {
        display: flex;
    }

    #testimonials-container {
        max-width: 1440px;
        margin: 0 auto;  /*puts container in the center*/
    }

    #testimonial-5 {
        flex-basis:25%;
    }

    .main-left {
        flex-direction: column;
        flex-basis: 75%;
        
    }

    .left-top, .left-bottom{
        flex-basis: 50%;
    }

    #testimonial-1, #testimonial-4 {
       flex-basis: 65%;
       margin-right: 20px;
    }
    
    #testimonial-2,  #testimonial-3 {
       flex-basis: 35%;
       margin-right: 20px;
    }

    
}